{% extends "tickets/base.html" %}
{% load crispy_forms_tags %}

{% block title %} {{ticket.issue_key}}: {{ticket.summary}} {% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        <h1><a href="https://jira.mozilla.com/browse/{{ticket.issue_key}}">{{ticket.issue_key}}</a>:
            {{ ticket.summary }}</h1>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table table-bordered" width="66%">
            <tr>
                <td width="50%"><b>Created</b> {{ ticket.created }}</td>
                <td><b>Resolved</b> {{ ticket.resolved }}</td>
            </tr>
            <tr>
                <td colspan="2"><b>Description:</b>
                    <p>{{ ticket.description|safe }}</p>
                </td>
            </tr>
            <tr>
                <td colspan="2"><b>Last comment:</b>
                    <p>{{ ticket.last_comment|safe }}</p>
                </td>
            </tr>
        </table>
    </div>
</div>

{% if success %}
<div class="alert alert-success" role="alert">
    Annotation saved.
</div>
{% endif %}
{% if error %}
<div class="alert alert-danger" role="alert">
    Something went wrong!
</div>
{% endif %}

<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="row">
        <div class="col"><input class="form-control" type="submit" name="save" value="Save"></div>
        {% if next_ticket %}
        <div class="col"><input class="form-control" type="submit" name="save_and_next" value="Save and go to next">
        </div>
        {% else %}
        <div class="col text-center">That's it! There's no next ticket.</div>
        {% endif %}
    </div>
</form>

{% if next_ticket %}
<p class="text-right pt-3">Next: <a href="{% url 'detail' next_ticket.issue_key %}">{{next_ticket.issue_key}}
        {{next_ticket.summary}} »</a></p>
{% endif %}

{% endblock %}
