{% extends "tickets/base.html" %}
{% block title %} Tickets! {% endblock %}

{% block body %}
<h1>Tickets!</h1>

{% for assignee, obj in tickets_by_assignee.items %}
<div class="row pb-4">
    <div class="col">
        <div class="row">
            <div class="col">{{ assignee }}</div>
            <div class="col">{{obj.completed | length}} / {{ obj.n }} ({{obj.score}}%)</div>
            <div class="col">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{obj.score}}%">
                    </div>
                </div>
            </div>
        </div>

        <details>
            <summary>
                Expand
            </summary>
            <div class="ml-4">
                To annotate:
                <ul>
                    {% for ticket in obj.todo %}
                    <li> <a href="{% url 'detail' ticket.issue_key %}">{{ ticket.issue_key }}</a> {{ ticket.summary }}
                    </li>
                    {% empty %}
                    <li>None</li>
                    {% endfor %}
                </ul>

                Incomplete:
                <ul>
                    {% for ticket in obj.in_progress %}
                    <li> <a href="{% url 'detail' ticket.issue_key %}">{{ ticket.issue_key }}</a> {{ ticket.summary }}
                    </li>
                    {% empty %}
                    <li>None</li>
                    {% endfor %}
                </ul>

                Annotated:
                <ul>
                    {% for ticket in obj.completed %}
                    <li> <a href="{% url 'detail' ticket.issue_key %}">{{ ticket.issue_key }}</a> {{ ticket.summary }}
                    </li>
                    {% empty %}
                    <li>None</li>
                    {% endfor %}
                </ul>
            </div>
        </details>
    </div>
</div>
{% endfor %}
{% endblock %}
