{% extends "tickets/base.html" %}
{% block title %} Tickets! {% endblock %}

{% block body %}
<h1>Tickets!</h1>

{% for assignee, obj in tickets_by_assignee.items %}
<div class="row pb-4">
    <div class="col">

        <h2>{{ assignee }}: {{obj.completed | length}} / {{ obj.n }} ({{obj.score}})</h2>

        <details>
            <summary>
                Expand
            </summary>
            To do:
            <ul>
                {% for ticket in obj.todo %}
                <li> <a href="{% url 'detail' ticket.issue_key %}">{{ ticket.issue_key }}</a> {{ ticket.summary }} </li>
                {% endfor %}
            </ul>

            Completed:
            <ul>
                {% for ticket in obj.completed %}
                <li> <a href="{% url 'detail' ticket.issue_key %}">{{ ticket.issue_key }}</a> {{ ticket.summary }} </li>
                {% endfor %}
            </ul>
        </details>
    </div>
</div>
{% endfor %}
{% endblock %}
